<div ng-app="new message">


    <div ng-class="container">
        <h2> New message</h2> <!-- style this -->
        <form ng-submit="send()" ng-controller="View3Ctrl">
            <label for="to">To:</label>
            <input type="name" class="form-control"
                   id="to" placeholder="Enter to" ng-model="to"
                   requred>

            <label for="to">From:</label>

            <div ng-app="" ng-controller="getMe">
                <p class="form-control-static">{{me.name}}</p>
            </div>
            <label for="subject">Subject:</label>
            <input type="name" class="form-control" ng-model="subject"
                   id="subject" placeholder="Enter subject">
           <textarea class="form-control" rows="5" ng-model="text" id="text"></textarea>
            <input type="submit" id="send" value="send"/>
        </form>
    </div>


</div>